@model List<WebApp.Models.Produto>

<div class="row">
    @if (Model.Count == 0)
    {
        <div class="col-12 text-center py-3">
            <p class="text-muted">Nenhum produto encontrado.</p>
        </div>
    }
    else
    {
        foreach (var produto in Model)
        {
            <div class="col-md-3 mb-3 produto-item" data-categoria="@produto.CategoriaId">
                <div class="card h-100 produto-card" data-id="@produto.Id" data-nome="@produto.Nome" data-preco="@produto.Preco.ToString("F2")">
                    <div class="card-img-top text-center pt-2">
                        @if (produto.Imagens != null && produto.Imagens.Any())
                        {
                            <img src="~/uploads/produtos/@produto.Imagens.First().NomeArquivo" alt="@produto.Nome" class="produto-img">
                        }
                        else
                        {
                            <img src="~/img/produto-sem-imagem.png" alt="Sem imagem" class="produto-img">
                        }
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">@produto.Nome</h6>
                        <p class="card-text text-success">R$ @produto.Preco.ToString("F2")</p>
                    </div>
                </div>
            </div>
        }
    }
</div>